* {
  box-sizing: border-box;
  position: relative;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  background-color: #1b1e28;
  border: 2px solid var(--grid-color);
  overflow: clip;
  --grid-color: #636e72;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  width: 100%;
  height: 100vh;
}

#heatmap {
  grid-area: 5 / 5 / 13 / 10;
  background-color: #34495e;

  canvas {
    width: 100%;
    height: 100%;
  }
}

#foot {
  grid-area: 5 / 10 / 13 / 12;

  img {
    width: 107%;
    object-fit: cover;
  }
}

#gradient {
  --level-bottom: 0;
  grid-area: 5 / 12 / 13 / 13;
  text-align: center;

  .level {
    width: 80%;
    height: 4px;
    background-color: #eeeeee;
    position: absolute;
    bottom: var(--level-bottom);
    left: 50%;
    transform: translateX(-40px);
    transition: bottom 200ms ease-in-out;
  }

  .bar-container {
    height: 100%;

    .bar {
      position: absolute;
      width: 75px;
      height: 100%;
      background: linear-gradient(
        180deg,
        #ff0000 0%,
        #ffa500 17%,
        #ffff00 33%,
        #008000 50%,
        #0000ff 67%,
        #4b0082 83%,
        #ee82ee 100%
      );
      left: 50%;
      transform: translateX(-34px);
    }
  }
}

#data-analyze {
  grid-area: 5 / 1 / 13 / 5;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #1b1e28;
  overflow-y: scroll;
  border-top: 2px solid var(--grid-color);
  border-right: 2px solid var(--grid-color);
}

#waves {
  --text-muted: #8c8980;
  --wave-color: #004bff;
  grid-area: 1 / 1 / 5 / 13;

  .grid-lines {
    position: absolute;
    inset: 0;
    background-image: linear-gradient(var(--grid-color) 1px, transparent 1px),
      linear-gradient(90deg, var(--grid-color) 1px, transparent 1px);
    background-size: 25px 25px;
    background-position: center;
    opacity: 0.75;
    border-bottom: 2px solid var(--grid-color);
  }

  .wave-svg {
    width: 1600px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  .wave-base {
    fill: none;
    stroke: var(--text-muted);
    stroke-width: 1px;
    stroke-dasharray: 2 4;
    opacity: 0.3;
  }

  .wave-live {
    stroke: var(--wave-color);
    fill: none;
    stroke-width: 2.5px;
    stroke-linecap: round;
    filter: drop-shadow(0px 0px 5px var(--wave-color));
  }

  #wave-1 {
    --wave-color: #d63031;
  }

  #wave-2 {
    --wave-color: #0984e3;
  }

  #wave-3 {
    --wave-color: #fdcb6e;
  }
}